<a href="https://colab.research.google.com/github/saromaddy/numpy_pandas/blob/main/Numpy_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#numerical python - NumPY

#Always the data will be in array
#Array --> all the data in the list have similar dataset

In [1]:
import numpy as np

In [2]:
dir(np)

['ALLOW_THREADS',
 'BUFSIZE',
 'CLIP',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'WRAP',
 '_CopyMode',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__deprecated_attrs__',
 '__dir__',
 '__doc__',
 '__expired_functions__',
 '__file__',
 '__former_attrs__',
 '__future_scalars__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_builtins',
 '_distributor_init',
 '_financial_names',
 '_get_promotion_state',
 '_globals',
 '_int_extended_msg',
 '_mat',
 '_no_nep50_warning',
 '_pyinstaller_hooks_dir',
 '_pytesttester',
 '_set_promotion_state',
 '_specific_msg',
 '_typing',
 '_using_numpy2_behavior',
 '_utils',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'dtypes',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exceptions',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'from_dlpack',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mask_indices',
 'mat',
 'matmul',
 'matrix',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'numarray',
 'number',
 'obj2sctype',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'show_runtime',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'vsplit',
 'vstack',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [4]:
x = np.zeros(5) #it will create zeros in one dimensional array
x

array([0., 0., 0., 0., 0.])

In [5]:
x[2]=23

In [6]:
x

array([ 0.,  0., 23.,  0.,  0.])

In [ ]:
x[0]= 'good' #numpy doesn't allow multiple data type since it is an array

ValueError: could not convert string to float: 'good'

In [ ]:
x = [5,10,15,20,25] #adding all the elements in that array
np.sum(x)

75

In [ ]:
np.mean(x) #Average

15.0

In [ ]:
x = np.zeros(12)
x

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
x = np.arange(5,101,5) #from 5 to 100 with the step up of 5 it will print the numbers
x

array([  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,
        70,  75,  80,  85,  90,  95, 100])

In [ ]:
x = np.arange(1,13)
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
y = x.reshape(3,4) #reshape the one dimensional array to two dimentsional number of elements = row X column
y

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
y[1][2] #fetching element through indexing

7

In [ ]:
x = np.arange(1,13).reshape(3,4) #creating two dimensional array using arange and reshape
x

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
x = np.arange(1,61).reshape(3,4,5) # for creating 3 dimensional matrix
x

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10],
        [11, 12, 13, 14, 15],
        [16, 17, 18, 19, 20]],

       [[21, 22, 23, 24, 25],
        [26, 27, 28, 29, 30],
        [31, 32, 33, 34, 35],
        [36, 37, 38, 39, 40]],

       [[41, 42, 43, 44, 45],
        [46, 47, 48, 49, 50],
        [51, 52, 53, 54, 55],
        [56, 57, 58, 59, 60]]])

In [ ]:
x = np.arange(1,121).reshape(2,3,4,5)# for creating the 4 dimension
x

array([[[[  1,   2,   3,   4,   5],
         [  6,   7,   8,   9,  10],
         [ 11,  12,  13,  14,  15],
         [ 16,  17,  18,  19,  20]],

        [[ 21,  22,  23,  24,  25],
         [ 26,  27,  28,  29,  30],
         [ 31,  32,  33,  34,  35],
         [ 36,  37,  38,  39,  40]],

        [[ 41,  42,  43,  44,  45],
         [ 46,  47,  48,  49,  50],
         [ 51,  52,  53,  54,  55],
         [ 56,  57,  58,  59,  60]]],


       [[[ 61,  62,  63,  64,  65],
         [ 66,  67,  68,  69,  70],
         [ 71,  72,  73,  74,  75],
         [ 76,  77,  78,  79,  80]],

        [[ 81,  82,  83,  84,  85],
         [ 86,  87,  88,  89,  90],
         [ 91,  92,  93,  94,  95],
         [ 96,  97,  98,  99, 100]],

        [[101, 102, 103, 104, 105],
         [106, 107, 108, 109, 110],
         [111, 112, 113, 114, 115],
         [116, 117, 118, 119, 120]]]])

In [ ]:
x[1][0][1][2]

68

In [ ]:
x = np.random.random(6) * -500
x

array([-358.01477292,  -78.86631834, -108.39669716, -341.50071959,
       -226.19037012, -125.01975157])

In [ ]:
x = 20 + 60 * np.random.random(10)

x

array([71.93167691, 55.63469514, 65.94855256, 58.51548992, 35.96343594,
       22.38760147, 46.35301034, 54.25275084, 61.08975427, 42.49528579])

In [ ]:
x = np.random.arange(1,301)

AttributeError: module 'numpy.random' has no attribute 'arange'

In [ ]:
x = np.random.randint(15) #creating random integer

x # by default this will generate from 0 to 15 integer

9

In [ ]:
x = np.random.randint(5,50, size = 10) #both ends included

In [ ]:
x

array([35, 37,  5, 20, 39, 48, 17, 21, 15, 42])

In [ ]:
x = np.random.randint(-500,500, size = 1000)

In [ ]:
x

array([ 459,  -66, -489, -418,  -17, -429,  282,  444,   97,   98, -282,
       -472, -417,  145, -109,   48,  422,  361,  153,   64,  -53,  109,
         38,   56, -431,  -67,  205,  323,  226, -407, -192, -420, -332,
       -134,  182,  359, -308,  231, -348,  267,  334,  -36,  246,  174,
        277,  -26,   83,  292,   52, -174,  323,  402,  474,  464,  238,
        123,  374,  207,  438, -454, -310,   85, -421, -147,  145, -267,
       -312, -472, -460, -455, -311,  456,  481, -364,  272, -324, -497,
        194, -238, -371, -407,  484, -290,  393,  308,  389, -334,  188,
        230, -300,  130, -229, -365, -240,  157,  322,  336, -356,  -83,
        -85,   12,  367, -167, -127, -144, -464, -316,   89,  236,  456,
       -259,  147,  126,  450, -303,  266, -147,   16, -461, -241, -494,
        355, -429,  104,  458,   15,  399,   80,   55,  -36, -117, -217,
          7, -382, -404, -420, -157, -292,  169, -265,  283, -224, -313,
        226,  352,  -54, -287,  -23, -380,  -76,  335,  266, -418,  -61,
        233,  478,  313,  252, -149,  339, -123,  322, -179, -311,  101,
       -194,  106,  155, -295,  335,  484,  358,   25,  193, -467, -223,
         86, -136, -440,  -61,  -44,   40, -417,  441,  495,  -44, -357,
        321, -365, -465, -140,  300, -289,  409,  -39, -174, -270,  329,
        312,  -91, -213,  193, -303, -322, -318,  173, -184,  228, -231,
        -92,  145,    4,   37,  -52, -173,  124,  398, -216, -179,  105,
         52,  119,  222,   49, -316,  193, -116,  128,  266,   87,  188,
       -223,  -58, -458,  153,  254, -108,  386, -485,  457,  437,  -27,
        103,  349,  371,  -73, -115,  135, -305,  122, -358, -129,  261,
       -158, -177, -337,  326,  209, -176, -476,  186, -460, -153,  243,
       -474,  107, -482, -394,  380,    2,  277, -142,  429, -143,  -86,
       -107, -374, -461, -472,  131,   54,  188, -477,  450,  106,  338,
       -104,  490,  165, -105, -154, -174,  165,  147,  -13,  -19,  385,
       -375, -147, -223, -304, -272, -219,  299,    0,  -92,  326,  345,
         27, -149, -500,  213,  364,   58,  169, -158,   14,  463, -339,
       -246, -398, -365,  -32, -481,  187,  438,  112,  295,   36, -128,
       -434, -280, -303, -212, -104, -126, -422, -371,  352, -341,   59,
       -240,  313,   47, -126,  320,  -79, -157,  291,  440,   98,  -20,
         20,  122, -219,  276,  432, -161,  174,  -77, -155, -412,  153,
       -286, -325,  186,  469,  347, -364,  238, -323, -455,  372, -320,
        330, -289,  -41, -278,  -67,  178, -113,  179, -147, -415,  268,
        382, -498,  345,  179, -126, -351,  490, -191,  304,  -29,   26,
        103,  208,  361,  462,  -35,  243,  244, -399, -203,  485,  368,
       -398,  171, -477, -417,  379,   59,  -26, -125,  459,  -87, -374,
       -239,  307,   20,  374,   90,  193, -174,  460,  190, -479, -461,
       -298, -415, -490, -106,  435,  -55,  363, -443,  368,  248, -415,
        102,  456, -330,  349,  349, -224, -128,  -85,  317,  316,  214,
        -89, -370, -500,  483,  420, -315,   48,   22,  -34,  198, -442,
       -452, -407,  298,   64,  429,  337, -389, -484,   47, -173,   63,
        417,  207, -481,  388, -492, -485,  293, -214, -313, -471, -446,
        210,  292,  163, -106, -398, -287, -260, -302, -256, -466,  498,
        183,  450,  412,  259,  336,  105,  -75,  -72,  -95,  -72, -179,
       -171, -374, -265,  448,  359, -480,  -62, -163, -194,  -67, -479,
       -228, -110, -103,  385,  -67, -482,  127,  380,   58,  -72, -392,
       -279, -331, -422, -360,  138,  321,  271, -384,  153, -142, -476,
        284,  281,   79,    6, -415,   -2,  350,  357,  471, -497, -268,
        244,  275, -191,   54, -393,  -75, -256,   87, -401, -496,  361,
        127, -293,   96,  384,  481, -337,  325, -260, -335,  -19,  197,
       -392,  311,   88, -230, -102, -199, -475, -184,  118, -118,  259,
        381,  436,   14, -337,  391,    7,   34, -226,   19,  400, -188,
       -375,  486,  -25, -335,  427,  -19,  367,  136,   30,  323,  112,
       -156,  189,   94, -425,  423,  359,   71, -151,   78, -184,  418,
       -252,   17,  271,  309,  252,  153, -368, -253,  289,  367, -374,
       -162,   45, -350, -169,  118,  138,  431,  459, -364, -247, -437,
       -332,  194, -263, -126,   24,   21,  198, -476,  182,   85,  441,
       -350, -473,  194,  -90, -351,    6,  441, -303, -352, -181, -111,
       -212, -354, -352, -337,  114,  -26,  233,  482, -444,  -19,  214,
         41, -366, -440, -154, -144,   65, -386,  266, -286, -473, -240,
        173,  363, -197, -415, -146,  115, -401, -285,  357,  401,   24,
        481,  -19, -403, -375, -496,  326, -165,   85,  423, -305,  129,
        323, -412, -323,  432,  119,  298, -126,  -10,  436,  455,  256,
        -88, -262,  468,  243,  181,  368,  202,  -67,  124,   86,  290,
        169, -321,  468,  462,  478,  -66, -388,  100, -173, -495, -412,
       -414,  124,  112,  159,  235, -335, -331, -383, -283,  -71,  445,
       -143, -356, -442,  371, -189, -377, -216, -360, -144,  324,  391,
         58,  260,   26,  202,  250,  310,  496,  455,  360, -363,  315,
        -13, -180,  122,  350, -109,  404, -388,  361,  264, -252,  430,
       -279,   60, -353,    0, -471, -364,  228,  396,  214,  489, -368,
       -144, -443, -260,  -62,  140,  182,   47,   57,  237,  153,  460,
       -102, -150,  296, -382,   31,  154,  -44, -498,  384, -174,   84,
        -27,  -99, -126,  269,  386,  286, -418, -446,  -11, -344,  185,
        427,  117,  313,   67, -219,  198,   34, -304, -274,  380, -351,
        -86, -420,   61, -409,  316, -153,   16,  262,  265, -404,   35,
        383,  291,  320,   -9,  108, -190,  191,  353,  213, -335,  -88,
        411,  409,  -98,  -10,  203,  -55, -334,  243, -344, -443,   95,
       -193, -260, -171, -131, -194, -262, -381, -140,   32,  217,  -67,
       -131, -108,  105,  237, -413,  -11,  389, -204, -278, -295,  -40,
       -208, -276,  -73, -257,   91, -115,  344, -187, -313, -141, -426,
        186, -328,  493, -157,  207,  345, -295, -461, -240,  148,  253,
       -197,  304,  364,  320,  407, -329,  155, -221, -167,  -83, -224,
       -223,  180,  105,  188, -297,   -7,  327,  299, -478,  361,   29,
        231,  455,   60,  177,  242, -219, -439,  469, -447, -182, -402,
         94,  257, -389,  -86,  304,   46, -156, -113,  -96,    8,  444,
         84, -304, -371,  -76, -116,  372, -208,  433,   75,  311, -294,
       -393,   61,  117,  461, -332, -166,  177,  480,  347,  196,    0,
        137,  -78,   44,    6,  258, -217, -207,  230,  274,  241,  398,
        304,  157,   79, -260,  387,  209, -428,  109,  -59, -459])

In [ ]:
# Data Distribution

x=np.random.choice(["josh","jansi","saravana","tamil","hari"],size=542)
x

array(['josh', 'hari', 'saravana', 'saravana', 'jansi', 'hari', 'hari',
       'tamil', 'jansi', 'hari', 'hari', 'saravana', 'hari', 'hari',
       'tamil', 'hari', 'jansi', 'hari', 'josh', 'jansi', 'jansi',
       'tamil', 'saravana', 'hari', 'tamil', 'hari', 'tamil', 'tamil',
       'tamil', 'josh', 'jansi', 'saravana', 'tamil', 'jansi', 'saravana',
       'saravana', 'josh', 'josh', 'jansi', 'saravana', 'saravana',
       'saravana', 'hari', 'jansi', 'jansi', 'hari', 'tamil', 'josh',
       'josh', 'josh', 'saravana', 'josh', 'hari', 'hari', 'tamil',
       'saravana', 'jansi', 'hari', 'jansi', 'josh', 'jansi', 'jansi',
       'tamil', 'josh', 'josh', 'jansi', 'josh', 'saravana', 'hari',
       'tamil', 'tamil', 'tamil', 'saravana', 'hari', 'tamil', 'jansi',
       'jansi', 'jansi', 'saravana', 'jansi', 'jansi', 'hari', 'jansi',
       'hari', 'hari', 'jansi', 'jansi', 'jansi', 'tamil', 'jansi',
       'jansi', 'jansi', 'josh', 'josh', 'jansi', 'josh', 'saravana',
       'hari', 'hari', 'josh', 'jansi', 'jansi', 'tamil', 'saravana',
       'josh', 'josh', 'saravana', 'saravana', 'hari', 'hari', 'josh',
       'tamil', 'saravana', 'jansi', 'saravana', 'jansi', 'josh', 'jansi',
       'hari', 'jansi', 'saravana', 'tamil', 'josh', 'tamil', 'josh',
       'josh', 'saravana', 'tamil', 'josh', 'josh', 'jansi', 'hari',
       'saravana', 'josh', 'tamil', 'jansi', 'tamil', 'jansi', 'hari',
       'saravana', 'josh', 'josh', 'josh', 'hari', 'saravana', 'jansi',
       'hari', 'josh', 'josh', 'josh', 'hari', 'hari', 'tamil', 'josh',
       'jansi', 'saravana', 'jansi', 'hari', 'saravana', 'jansi', 'josh',
       'hari', 'jansi', 'saravana', 'josh', 'hari', 'josh', 'saravana',
       'josh', 'jansi', 'hari', 'jansi', 'josh', 'hari', 'hari', 'tamil',
       'tamil', 'hari', 'jansi', 'jansi', 'saravana', 'josh', 'josh',
       'saravana', 'saravana', 'hari', 'tamil', 'saravana', 'saravana',
       'saravana', 'josh', 'jansi', 'saravana', 'jansi', 'saravana',
       'saravana', 'josh', 'tamil', 'saravana', 'jansi', 'hari', 'jansi',
       'saravana', 'josh', 'jansi', 'hari', 'hari', 'tamil', 'josh',
       'jansi', 'saravana', 'josh', 'josh', 'josh', 'josh', 'jansi',
       'jansi', 'tamil', 'josh', 'hari', 'tamil', 'tamil', 'saravana',
       'jansi', 'saravana', 'hari', 'hari', 'jansi', 'hari', 'josh',
       'josh', 'hari', 'saravana', 'hari', 'saravana', 'saravana',
       'tamil', 'hari', 'saravana', 'jansi', 'saravana', 'tamil',
       'saravana', 'saravana', 'josh', 'josh', 'josh', 'saravana',
       'jansi', 'saravana', 'tamil', 'saravana', 'josh', 'jansi',
       'saravana', 'josh', 'hari', 'jansi', 'jansi', 'tamil', 'jansi',
       'tamil', 'tamil', 'hari', 'hari', 'saravana', 'tamil', 'josh',
       'jansi', 'tamil', 'tamil', 'jansi', 'josh', 'jansi', 'josh',
       'tamil', 'josh', 'josh', 'hari', 'jansi', 'josh', 'tamil', 'josh',
       'josh', 'saravana', 'josh', 'tamil', 'tamil', 'josh', 'josh',
       'josh', 'jansi', 'josh', 'jansi', 'tamil', 'josh', 'josh', 'hari',
       'tamil', 'josh', 'josh', 'jansi', 'tamil', 'saravana', 'saravana',
       'josh', 'josh', 'josh', 'jansi', 'tamil', 'hari', 'jansi', 'tamil',
       'jansi', 'tamil', 'tamil', 'tamil', 'jansi', 'jansi', 'josh',
       'josh', 'jansi', 'hari', 'josh', 'saravana', 'jansi', 'tamil',
       'jansi', 'josh', 'jansi', 'tamil', 'tamil', 'josh', 'hari',
       'saravana', 'josh', 'josh', 'saravana', 'josh', 'saravana',
       'saravana', 'saravana', 'saravana', 'hari', 'josh', 'josh',
       'jansi', 'jansi', 'saravana', 'jansi', 'jansi', 'saravana',
       'jansi', 'tamil', 'saravana', 'saravana', 'jansi', 'saravana',
       'hari', 'josh', 'saravana', 'tamil', 'jansi', 'saravana', 'hari',
       'hari', 'josh', 'saravana', 'josh', 'jansi', 'josh', 'josh',
       'tamil', 'josh', 'saravana', 'tamil', 'josh', 'josh', 'jansi',
       'josh', 'josh', 'saravana', 'tamil', 'jansi', 'saravana', 'josh',
       'saravana', 'hari', 'saravana', 'tamil', 'tamil', 'tamil', 'hari',
       'jansi', 'hari', 'hari', 'tamil', 'jansi', 'hari', 'saravana',
       'hari', 'hari', 'jansi', 'hari', 'saravana', 'saravana', 'tamil',
       'josh', 'saravana', 'hari', 'josh', 'josh', 'josh', 'saravana',
       'hari', 'josh', 'tamil', 'josh', 'saravana', 'jansi', 'saravana',
       'hari', 'jansi', 'jansi', 'saravana', 'jansi', 'jansi', 'tamil',
       'josh', 'saravana', 'saravana', 'hari', 'jansi', 'josh', 'josh',
       'saravana', 'tamil', 'hari', 'saravana', 'jansi', 'jansi', 'tamil',
       'josh', 'saravana', 'jansi', 'josh', 'jansi', 'hari', 'saravana',
       'hari', 'josh', 'hari', 'tamil', 'josh', 'tamil', 'saravana',
       'hari', 'jansi', 'tamil', 'tamil', 'hari', 'josh', 'jansi', 'josh',
       'saravana', 'tamil', 'saravana', 'josh', 'hari', 'hari', 'hari',
       'hari', 'jansi', 'hari', 'tamil', 'josh', 'hari', 'josh', 'tamil',
       'jansi', 'tamil', 'hari', 'hari', 'saravana', 'jansi', 'hari',
       'tamil', 'tamil', 'jansi', 'jansi', 'josh', 'jansi', 'josh',
       'tamil', 'saravana', 'saravana', 'saravana', 'saravana',
       'saravana', 'jansi', 'saravana', 'jansi', 'jansi', 'hari', 'jansi',
       'jansi', 'tamil', 'hari', 'saravana', 'jansi', 'saravana', 'tamil',
       'hari', 'hari', 'saravana', 'tamil', 'josh', 'tamil', 'tamil',
       'jansi', 'josh', 'saravana', 'tamil', 'hari', 'hari', 'tamil',
       'jansi', 'tamil', 'saravana', 'josh', 'hari', 'jansi', 'josh',
       'josh', 'jansi', 'josh', 'josh', 'saravana', 'josh', 'saravana',
       'jansi', 'jansi'], dtype='<U8')

In [ ]:
x=np.random.choice(["josh","jansi","saravana","tamil","hari"],size=100,p=[0.5,0.05,0.2,0.1,0.15]) #probabilities should sum to 1
x

array(['tamil', 'josh', 'josh', 'josh', 'tamil', 'josh', 'saravana',
       'josh', 'josh', 'hari', 'josh', 'josh', 'josh', 'josh', 'josh',
       'josh', 'josh', 'josh', 'josh', 'jansi', 'hari', 'saravana',
       'josh', 'josh', 'hari', 'hari', 'josh', 'josh', 'saravana', 'josh',
       'josh', 'saravana', 'hari', 'hari', 'josh', 'josh', 'josh',
       'tamil', 'josh', 'hari', 'saravana', 'josh', 'josh', 'josh',
       'josh', 'josh', 'jansi', 'saravana', 'hari', 'saravana',
       'saravana', 'josh', 'hari', 'josh', 'saravana', 'josh', 'josh',
       'josh', 'josh', 'jansi', 'tamil', 'saravana', 'jansi', 'saravana',
       'saravana', 'josh', 'saravana', 'josh', 'josh', 'josh', 'josh',
       'hari', 'josh', 'saravana', 'josh', 'josh', 'josh', 'josh',
       'jansi', 'jansi', 'jansi', 'josh', 'josh', 'josh', 'josh',
       'saravana', 'josh', 'tamil', 'josh', 'saravana', 'josh', 'jansi',
       'hari', 'josh', 'saravana', 'saravana', 'josh', 'josh', 'saravana',
       'saravana'], dtype='<U8')

In [ ]:
x=np.random.choice(["josh","jansi","saravana","tamil","hari"],size=7000,p=[0.5,0.05,0.2,0.1,0.15])
x

array(['josh', 'tamil', 'hari', ..., 'saravana', 'josh', 'josh'],
      dtype='<U8')

In [ ]:
x=np.arange(1,500)

In [ ]:
x

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499])

In [ ]:
y = np.array_split(x,5)
y

[array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
         27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
         40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
         66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
         79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
         92,  93,  94,  95,  96,  97,  98,  99, 100]),
 array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113,
        114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126,
        127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
        140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152,
        153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165,
        166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178,
        179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191,
        192, 193, 194, 195, 196, 197, 198, 199, 200]),
 array([201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213,
        214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226,
        227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239,
        240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252,
        253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
        266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278,
        279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291,
        292, 293, 294, 295, 296, 297, 298, 299, 300]),
 array([301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313,
        314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326,
        327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339,
        340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352,
        353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365,
        366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378,
        379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
        392, 393, 394, 395, 396, 397, 398, 399, 400]),
 array([401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413,
        414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426,
        427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439,
        440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452,
        453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465,
        466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478,
        479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491,
        492, 493, 494, 495, 496, 497, 498, 499])]

In [ ]:
x = np.linspace(2,35,10)
x

array([ 2.        ,  5.66666667,  9.33333333, 13.        , 16.66666667,
       20.33333333, 24.        , 27.66666667, 31.33333333, 35.        ])

In [7]:
auth = { # this the api that we received from cricket api
  "apikey": "795759a5-f664-47be-aaf6-851c6b6ddcff",
  "id": "b4438580-d28e-457c-886b-3c2419ab5de2"
}

In [8]:
url = "https://api.cricapi.com/v1/match_scorecard"

In [9]:
import requests

/Users/saro/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [10]:
result = requests.get(url,params=auth)
result.json().keys()

dict_keys(['apikey', 'data', 'status', 'info'])

In [11]:
score_card = result.json()['data']['scorecard']

{'batting': [{'batsman': {'id': 'a254feed-0d7c-4f04-a2ab-7bf9ceef156b',
    'name': 'Yashasvi Jaiswal'},
   'dismissal': 'catch',
   'bowler': {'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',
    'name': 'Sikandar Raza'},
   'catcher': {'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',
    'name': 'Brian Bennett '},
   'dismissal-text': 'c brian bennett b raza',
   'r': 36,
   'b': 27,
   '4s': 4,
   '6s': 2,
   'sr': 133.33,
   '': 0},
  {'batsman': {'id': '7263e990-a9e9-4829-8adf-760d18d1315c',
    'name': 'Shubman Gill'},
   'dismissal': 'catch',
   'bowler': {'id': '50e38c9d-bf39-44b8-b5e6-0c9f36b8cbdf',
    'name': 'Blessing Muzarabani'},
   'catcher': {'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',
    'name': 'Sikandar Raza'},
   'dismissal-text': 'c raza b muzarabani',
   'r': 66,
   'b': 49,
   '4s': 7,
   '6s': 3,
   'sr': 134.69,
   '': 0},
  {'batsman': {'id': '83fe6ab6-d63c-420e-9416-a93d59a9a964',
    'name': 'Abhishek Sharma'},
   'dismissal': 'catch',
   'bowler': {'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',
    'name': 'Sikandar Raza'},
   'catcher': {'id': 'fc4102d8-b2f6-45f1-9e75-b883838f5bb1',
    'name': 'Tadiwanashe Marumani'},
   'dismissal-text': 'c t marumani b raza',
   'r': 10,
   'b': 9,
   '4s': 1,
   '6s': 0,
   'sr': 111.11,
   '': 0},
  {'batsman': {'id': '50b70c71-1535-41c0-87fd-c12883105ede',
    'name': 'Ruturaj Gaikwad'},
   'dismissal': 'catch',
   'bowler': {'id': '50e38c9d-bf39-44b8-b5e6-0c9f36b8cbdf',
    'name': 'Blessing Muzarabani'},
   'catcher': {'id': '78b833a2-6813-4529-bf41-21313ebaa4e6',
    'name': 'Wessly Madhevere'},
   'dismissal-text': 'c madhevere b muzarabani',
   'r': 49,
   'b': 28,
   '4s': 4,
   '6s': 3,
   'sr': 175,
   '': 0},
  {'batsman': {'id': '35ed1b20-38f3-4013-be2e-dc28ffbecfd6',
    'name': 'Sanju Samson'},
   'dismissal-text': 'not out',
   'r': 12,
   'b': 7,
   '4s': 2,
   '6s': 0,
   'sr': 171.43,
   '': 0},
  {'batsman': {'id': '11864f31-b766-4766-9cbc-5026015ace48',
    'name': 'Rinku Singh'},
   'dismissal-text': 'not out',
   'r': 1,
   'b': 1,
   '4s': 0,
   '6s': 0,
   'sr': 100,
   '': 0}],
 'bowling': [{'bowler': {'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',
    'name': 'Brian Bennett '},
   'o': 1,
   'm': 0,
   'r': 15,
   'w': 0,
   'nb': 1,
   'wd': 0,
   'eco': 15},
  {'bowler': {'id': '4812dee7-6ab3-40cf-80f1-02cee4124b4a',
    'name': 'Richard Ngarava'},
   'o': 4,
   'm': 0,
   'r': 39,
   'w': 0,
   'nb': 0,
   'wd': 0,
   'eco': 9.8},
  {'bowler': {'id': '7d8aa17f-7817-4a0b-95b4-555fba86f501',
    'name': 'Tendai Chatara'},
   'o': 3,
   'm': 0,
   'r': 30,
   'w': 0,
   'nb': 0,
   'wd': 0,
   'eco': 10},
  {'bowler': {'id': '50e38c9d-bf39-44b8-b5e6-0c9f36b8cbdf',
    'name': 'Blessing Muzarabani'},
   'o': 4,
   'm': 0,
   'r': 25,
   'w': 2,
   'nb': 0,
   'wd': 2,
   'eco': 6.2},
  {'bowler': {'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',
    'name': 'Sikandar Raza'},
   'o': 4,
   'm': 0,
   'r': 24,
   'w': 2,
   'nb': 0,
   'wd': 0,
   'eco': 6},
  {'bowler': {'id': '397bf103-6977-4e5b-b437-6f448764b36a',
    'name': 'Wellington Masakadza'},
   'o': 3,
   'm': 0,
   'r': 25,
   'w': 0,
   'nb': 0,
   'wd': 0,
   'eco': 8.3},
  {'bowler': {'id': '78b833a2-6813-4529-bf41-21313ebaa4e6',
    'name': 'Wessly Madhevere'},
   'o': 1,
   'm': 0,
   'r': 19,
   'w': 0,
   'nb': 0,
   'wd': 0,
   'eco': 19}],
 'catching': [{'catcher': {'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',
    'name': 'Brian Bennett '},
   'stumped': 0,
   'runout': 0,
   'catch': 1,
   'cb': 0,
   'lbw': 0,
   'bowled': 0},
  {'catcher': {'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',
    'name': 'Sikandar Raza'},
   'stumped': 0,
   'runout': 0,
   'catch': 1,
   'cb': 0,
   'lbw': 0,
   'bowled': 0},
  {'catcher': {'id': 'fc4102d8-b2f6-45f1-9e75-b883838f5bb1',
    'name': 'Tadiwanashe Marumani'},
   'stumped': 0,
   'runout': 0,
   'catch': 1,
   'cb': 0,
   'lbw': 0,
   'bowled': 0},
  {'catcher': {'id': '78b833a2-6813-4529-bf41-21313ebaa4e6',
    'name': 'Wessly Madhevere'},
   'stumped': 0,
   'runout': 0,
   'catch': 1,
   'cb': 0,
   'lbw': 0,
   'bowled': 0}],
 'extras': {'r': 8, 'b': 4},
 'totals': {},
 'inning': 'India Inning 1'}

In [12]:
data=[]
for i in score_card:
  battingdata=i["batting"]
  for j in battingdata:
    data.append(j)

In [13]:
import pandas as pd

In [22]:
df = pd.DataFrame(data)
df

,batsman,dismissal,bowler,catcher,dismissal-text,r,b,4s,6s,sr,
0,"{'id': 'a254feed-0d7c-4f04-a2ab-7bf9ceef156b',...",catch,"{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...","{'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',...",c brian bennett b raza,36,27,4,2,133.33,0
1,"{'id': '7263e990-a9e9-4829-8adf-760d18d1315c',...",catch,"{'id': '50e38c9d-bf39-44b8-b5e6-0c9f36b8cbdf',...","{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...",c raza b muzarabani,66,49,7,3,134.69,0
2,"{'id': '83fe6ab6-d63c-420e-9416-a93d59a9a964',...",catch,"{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...","{'id': 'fc4102d8-b2f6-45f1-9e75-b883838f5bb1',...",c t marumani b raza,10,9,1,0,111.11,0
3,"{'id': '50b70c71-1535-41c0-87fd-c12883105ede',...",catch,"{'id': '50e38c9d-bf39-44b8-b5e6-0c9f36b8cbdf',...","{'id': '78b833a2-6813-4529-bf41-21313ebaa4e6',...",c madhevere b muzarabani,49,28,4,3,175.00,0
4,"{'id': '35ed1b20-38f3-4013-be2e-dc28ffbecfd6',...",NaN,NaN,NaN,not out,12,7,2,0,171.43,0
5,"{'id': '11864f31-b766-4766-9cbc-5026015ace48',...",NaN,NaN,NaN,not out,1,1,0,0,100.00,0
6,"{'id': '78b833a2-6813-4529-bf41-21313ebaa4e6',...",catch,"{'id': '332200ad-d1f8-4035-95c5-b33bd1c9a939',...","{'id': '83fe6ab6-d63c-420e-9416-a93d59a9a964',...",c abhishek sharma b avesh khan,1,2,0,0,50.00,0
7,"{'id': 'fc4102d8-b2f6-45f1-9e75-b883838f5bb1',...",catch,"{'id': '8df6183b-1c95-46d2-85c0-e185792d03f1',...","{'id': '22ee45d8-0538-4e3e-a758-c515f9b86d11',...",c shivam dube b khaleel ahmed,13,10,3,0,130.00,0
8,"{'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',...",catch,"{'id': '332200ad-d1f8-4035-95c5-b33bd1c9a939',...","{'id': '9a71201c-c377-45aa-a355-1af6d2c4bae3',...",c ravi bishnoi b avesh khan,4,5,1,0,80.00,0
9,"{'id': '79eee646-64b8-4392-9ad1-cb1c7630034d',...",NaN,NaN,NaN,not out,65,49,7,1,132.65,0
10,"{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...",catch,"{'id': '309d3ffd-3d06-460d-9427-c559a604d471',...","{'id': '11864f31-b766-4766-9cbc-5026015ace48',...",c rinku singh b washington sundar,15,16,3,0,93.75,0
11,"{'id': '79adea1e-ac28-43d7-a734-b05344779200',...",catch,"{'id': '309d3ffd-3d06-460d-9427-c559a604d471',...","{'id': 'b51bb4e5-acdf-423b-abb3-7a1e6694d2c2',...",c riyan parag b washington sundar,1,2,0,0,50.00,0
12,"{'id': '0528d8b0-a6ce-498f-a573-d0edb1efcf9b',...",catch,"{'id': '309d3ffd-3d06-460d-9427-c559a604d471',...","{'id': '11864f31-b766-4766-9cbc-5026015ace48',...",c rinku singh b washington sundar,37,26,2,2,142.31,0
13,"{'id': '397bf103-6977-4e5b-b437-6f448764b36a',...",NaN,NaN,NaN,not out,18,10,1,1,180.00,0

In [21]:
df.iloc[0]

batsman           {'id': 'a254feed-0d7c-4f04-a2ab-7bf9ceef156b',...
dismissal                                                     catch
bowler            {'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...
catcher           {'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',...
dismissal-text                               c brian bennett b raza
r                                                                36
b                                                                27
4s                                                                4
6s                                                                2
sr                                                           133.33
                                                                  0
name                                               Yashasvi Jaiswal
Name: 0, dtype: object

In [17]:
df.iloc[0,0]['name']

'Yashasvi Jaiswal'

In [25]:
df['name'] = df['batsman'].apply(lambda x: x['name']) #fetching the name using lambda function

In [26]:
df

,batsman,dismissal,bowler,catcher,dismissal-text,r,b,4s,6s,sr,,name
0,"{'id': 'a254feed-0d7c-4f04-a2ab-7bf9ceef156b',...",catch,"{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...","{'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',...",c brian bennett b raza,36,27,4,2,133.33,0,Yashasvi Jaiswal
1,"{'id': '7263e990-a9e9-4829-8adf-760d18d1315c',...",catch,"{'id': '50e38c9d-bf39-44b8-b5e6-0c9f36b8cbdf',...","{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...",c raza b muzarabani,66,49,7,3,134.69,0,Shubman Gill
2,"{'id': '83fe6ab6-d63c-420e-9416-a93d59a9a964',...",catch,"{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...","{'id': 'fc4102d8-b2f6-45f1-9e75-b883838f5bb1',...",c t marumani b raza,10,9,1,0,111.11,0,Abhishek Sharma
3,"{'id': '50b70c71-1535-41c0-87fd-c12883105ede',...",catch,"{'id': '50e38c9d-bf39-44b8-b5e6-0c9f36b8cbdf',...","{'id': '78b833a2-6813-4529-bf41-21313ebaa4e6',...",c madhevere b muzarabani,49,28,4,3,175.00,0,Ruturaj Gaikwad
4,"{'id': '35ed1b20-38f3-4013-be2e-dc28ffbecfd6',...",NaN,NaN,NaN,not out,12,7,2,0,171.43,0,Sanju Samson
5,"{'id': '11864f31-b766-4766-9cbc-5026015ace48',...",NaN,NaN,NaN,not out,1,1,0,0,100.00,0,Rinku Singh
6,"{'id': '78b833a2-6813-4529-bf41-21313ebaa4e6',...",catch,"{'id': '332200ad-d1f8-4035-95c5-b33bd1c9a939',...","{'id': '83fe6ab6-d63c-420e-9416-a93d59a9a964',...",c abhishek sharma b avesh khan,1,2,0,0,50.00,0,Wessly Madhevere
7,"{'id': 'fc4102d8-b2f6-45f1-9e75-b883838f5bb1',...",catch,"{'id': '8df6183b-1c95-46d2-85c0-e185792d03f1',...","{'id': '22ee45d8-0538-4e3e-a758-c515f9b86d11',...",c shivam dube b khaleel ahmed,13,10,3,0,130.00,0,Tadiwanashe Marumani
8,"{'id': '55e1ded0-dbd4-48d2-9df8-f7b92fcd0fef',...",catch,"{'id': '332200ad-d1f8-4035-95c5-b33bd1c9a939',...","{'id': '9a71201c-c377-45aa-a355-1af6d2c4bae3',...",c ravi bishnoi b avesh khan,4,5,1,0,80.00,0,Brian Bennett
9,"{'id': '79eee646-64b8-4392-9ad1-cb1c7630034d',...",NaN,NaN,NaN,not out,65,49,7,1,132.65,0,Dion Myers
10,"{'id': '3a93bfb5-1fd1-4342-99f1-397161de9d10',...",catch,"{'id': '309d3ffd-3d06-460d-9427-c559a604d471',...","{'id': '11864f31-b766-4766-9cbc-5026015ace48',...",c rinku singh b washington sundar,15,16,3,0,93.75,0,Sikandar Raza
11,"{'id': '79adea1e-ac28-43d7-a734-b05344779200',...",catch,"{'id': '309d3ffd-3d06-460d-9427-c559a604d471',...","{'id': 'b51bb4e5-acdf-423b-abb3-7a1e6694d2c2',...",c riyan parag b washington sundar,1,2,0,0,50.00,0,Johnathan Campbell
12,"{'id': '0528d8b0-a6ce-498f-a573-d0edb1efcf9b',...",catch,"{'id': '309d3ffd-3d06-460d-9427-c559a604d471',...","{'id': '11864f31-b766-4766-9cbc-5026015ace48',...",c rinku singh b washington sundar,37,26,2,2,142.31,0,Clive Madande
13,"{'id': '397bf103-6977-4e5b-b437-6f448764b36a',...",NaN,NaN,NaN,not out,18,10,1,1,180.00,0,Wellington Masakadza

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset("iris")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [5]:
df.species.value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [6]:
group = df.species.unique()

In [9]:
group[0]

'setosa'

In [8]:
import pandas as pd

In [10]:
data = {}
for i in group:
    data[i] = df["sepal_length"][df["species"]==i]

In [16]:
data.keys()

dict_keys(['setosa', 'versicolor', 'virginica'])

In [13]:
data['setosa']

0     5.1
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
20    5.4
21    5.1
22    4.6
23    5.1
24    4.8
25    5.0
26    5.0
27    5.2
28    5.2
29    4.7
30    4.8
31    5.4
32    5.2
33    5.5
34    4.9
35    5.0
36    5.5
37    4.9
38    4.4
39    5.1
40    5.0
41    4.5
42    4.4
43    5.0
44    5.1
45    4.8
46    5.1
47    4.6
48    5.3
49    5.0
Name: sepal_length, dtype: float64

In [14]:
from scipy import stats

In [17]:
f_value , p_value = stats.f_oneway(data["setosa"],data["virginica"])

In [18]:
if p_value < 0.75:
    print ("H0 reject null hypothesis, Ha accepts alternate hypothesis, no connection of the data")
else:
    print ("H0 accept null hypothesis, Ha rejects alternate hypothesis, connection present in the data")

H0 reject null hypothesis, Ha accepts alternate hypothesis, no connection of the data

In [22]:
df1 = pd.read_csv("/Users/saro/Desktop/numpy_pandas/Wine_Quality_Data.csv")

In [20]:
df_wine

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [23]:
group = df1.quality.unique()
group

array([5, 6, 7, 4, 8, 3, 9])

In [24]:
group = df1.quality.unique()

data1 = {}
for i in group:
  data1[i]=df1["sulphates"][df1["quality"]==i]


f_value , p_value = stats.f_oneway(data1[3],data1[4],data1[5],data1[6],data1[7],data1[8],data1[9])
if p_value<0.075:
  print("H0 Reject null hypothesis, Ha accepts alternate hypothesis , no connection of the data")
else:
  print("H0 accept null hypothesis, Ha rejects alternate hypothesis, connection present in the data")

H0 Reject null hypothesis, Ha accepts alternate hypothesis , no connection of the data

In [25]:
df2 = pd.read_csv("/Users/saro/Desktop/numpy_pandas/Electric_Vehicle_Population_Data.csv")

In [26]:
df2

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJSA1E22K,King,Seattle,WA,98112.0,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0,43.0,202233958,POINT (-122.300312 47.629782),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,3MW39FS05R,Yakima,Zillah,WA,98953.0,2024,BMW,330E,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,20,0,15.0,264425178,POINT (-120.2658133 46.4063477),PACIFICORP,5.307700e+10
2,1N4AZ0CP0F,King,Kent,WA,98031.0,2015,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84,0,11.0,114962025,POINT (-122.201564 47.402358),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
3,5YJSA1H20F,Snohomish,Bothell,WA,98012.0,2015,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,0,1.0,232724670,POINT (-122.206146 47.839957),PUGET SOUND ENERGY INC,5.306105e+10
4,JTMAB3FV1N,Yakima,Yakima,WA,98908.0,2022,TOYOTA,RAV4 PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42,0,14.0,221023589,POINT (-120.611068 46.596645),PACIFICORP,5.307700e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191402,5YJ3E1EA0K,Pierce,Sumner,WA,98390.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,31.0,314927896,POINT (-122.2337855 47.2055969),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
191403,JN1BF0BA7P,Pierce,Wilkeson,WA,98396.0,2023,NISSAN,ARIYA,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,31.0,236213120,POINT (-122.0478543 47.1075591),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
191404,7SAYGDEE4R,King,Fall City,WA,98024.0,2024,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,5.0,261335896,POINT (-121.903093 47.567116),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
191405,7SAXCBE65N,Grays Harbor,Aberdeen,WA,98520.0,2022,TESLA,MODEL X,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,19.0,219273491,POINT (-123.807422 46.978243),BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF G...,5.302700e+10
191406,7SAYGAEEXP,Benton,Richland,WA,99352.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,8.0,233761440,POINT (-119.2958528 46.2421419),BONNEVILLE POWER ADMINISTRATION||CITY OF RICHL...,5.300501e+10