In [1]:
import pandas as pd

# Sample DataFrame with a dictionary column
data = {
    'id': [1, 2, 3],
    'info': [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 35}]
}

df = pd.DataFrame(data)

# Print the DataFrame
print("Original DataFrame:")
print(df)

# Access a specific element within the dictionary, e.g., 'name'
df['name'] = df['info'].apply(lambda x: x['name'])

# Print the updated DataFrame
print("\nDataFrame with 'name' extracted:")
print(df)

# Optionally, print a specific element directly
print("\nNames from each dictionary:")
for name in df['name']:
    print(name)

Original DataFrame:
   id                            info
0   1    {'name': 'Alice', 'age': 25}
1   2      {'name': 'Bob', 'age': 30}
2   3  {'name': 'Charlie', 'age': 35}

DataFrame with 'name' extracted:
   id                            info     name
0   1    {'name': 'Alice', 'age': 25}    Alice
1   2      {'name': 'Bob', 'age': 30}      Bob
2   3  {'name': 'Charlie', 'age': 35}  Charlie

Names from each dictionary:
Alice
Bob
Charlie

In [2]:
import pandas as pd

# Sample DataFrame
data = {
    'id': [1, 2, 3, 4, 5],
    'info': [
        {'name': 'Alice', 'age': 25, 'city': 'New York'},
        {'name': 'Bob', 'age': 30, 'city': 'Los Angeles'},
        {'name': 'Charlie', 'age': 35, 'city': 'Chicago'},
        {'name': 'David', 'age': 40, 'city': 'Houston'},
        {'name': 'Eve', 'age': 45, 'city': 'Phoenix'}
    ]
}

df = pd.DataFrame(data)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
   id                                               info
0   1   {'name': 'Alice', 'age': 25, 'city': 'New York'}
1   2  {'name': 'Bob', 'age': 30, 'city': 'Los Angeles'}
2   3  {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
3   4    {'name': 'David', 'age': 40, 'city': 'Houston'}
4   5      {'name': 'Eve', 'age': 45, 'city': 'Phoenix'}

In [3]:
df['name'] = df['info'].apply(lambda x: x['name'])

In [4]:
df

   id                                               info     name
0   1   {'name': 'Alice', 'age': 25, 'city': 'New York'}    Alice
1   2  {'name': 'Bob', 'age': 30, 'city': 'Los Angeles'}      Bob
2   3  {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}  Charlie
3   4    {'name': 'David', 'age': 40, 'city': 'Houston'}    David
4   5      {'name': 'Eve', 'age': 45, 'city': 'Phoenix'}      Eve